@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: Roboto;

    box-sizing: border-box;
}
.header{
    font-family: Roboto;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

header{
    font-size: 24px;
    color: #f9faf8;
    padding-left: 10vh;
}

.links ul{
    display: flex;
    justify-content: space-around;
    gap: 42px;
    padding-right: 100px;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.links li{
    list-style-type: none;
}

.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 500px; */
    background-color: #1f2937;
    padding: 9vh 0;
}

.hero_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10vh;
}

.main_text{
    font-size: 48px;
    font-weight: 900;
    width: 60%;
    color: #f9faf8;
}

.placeholder{
    border: 80px solid #6d747d;
    background-color: #6d747d;
    margin: 20px ;
    margin-right: 20vh;
    padding: 5px 5px;
    color: #e5e7eb;
}

.sign_up{
    color: #f9faf8;
    font-size: 18px;
    background-color: #3882f6;
    cursor: pointer;
    padding: 8px 19px;
    border-radius: 8px;
    border: 1px solid #3882f6;
}

.secondry_text{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    width: 47%;
    margin-right: 74px;
}

.image{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.third-section{
    background-color: #f9faf8;
}

.random_text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.images_container{
    display: flex;
    justify-content: center;
    gap: 200px;


}

.item div{
    padding: 5px;
    text-align: center;
    font-size: 21px;
    color: #7e868f;
}


.fourth-section{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #e5e7eb;
}

.quote{
    box-sizing: border-box;
    padding: 15vh 35vh;
    font-size: 36px; 
    font-style: italic;
    color: #1f2937;
}

.author{
    box-sizing: border-box;

    padding-left: 90vh ;
    font-size: 30px;
    font-weight: 900;
}

.fifth-section{
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.text5{
    padding: 50px 131px;
    border: 5px solid #3882f6;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    gap: 25vh;
    width: 75%;
}

.sign_up1{
    color: #f9faf8;
    font-size: 18px;
    background-color: #3882f6;
    cursor: pointer;
    padding: 8px 19px;
    border-radius: 8px;
    border: 3px solid #f9faf8;
}

div .text1{
    color: #f9faf8;
    font-size: 30px;

    
}

.text2{
    font-size: 15px;
    
}

.footer{
    padding: 30px;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}